<div class="edit-container">
    <img id="user-image" src="/Peak-Bagger.jpeg"></img>
    <h1 class="welcome-title"><%=foundPeak.peak%></h1> 
    <h3 id="user-name">USER NAME</h3>
    <a class="button" href="/user" type="button">Return to Profile</a>
<!--  enctype="multipart/form-data"-->
    <div class="editForm-container">
        <form class="form-edit"action="/user/<%= foundPeak._id %>?_method=PUT" method="POST">
             <div class="form-peak">
                    <label class="label" for="peak">Peak:</label>
                    <select class="field" name="peak">
                        <option value="<%- foundPeak.peak %>">
                            <%= foundPeak.peak %>
                       </option>
                    </select>
            </div>
            <div class="form-bagged">
                <label class="label" for="bagged">Bagged?:</label>
                <select class="field" name="bagged">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div>
                <label class="label" for="hike-date">Date:</label>
                <input class="field" type="date" id="hike-date" name="date">
            </div>
            <div>
                <label class="label" for="start">Start Time:</label>
                <input class="field" type="time" name="start" id="start" value="<%=foundPeak.start%>">
            </div>
            <div>
                <label class="label" for="summited">Summited Time:</label>
                <input class="field" type="time" name="summited" id="summited" value="<%=foundPeak.summited%>">
            </div>
            <div>
                <label class="label" for="end">End Time:</label>
                <input class="field" type="time" name="end" id="end" value="<%=foundPeak.end%>">
            </div>
            <div>
                <label class="label" for="drink">Number of Drinks:</label>
                <input class="field" type="number" name="drink" id="drink">
            </div>
            <div>
                <label class="label" for="image">Select images:</label>
                <input class="field" type="file" name="image" accept="image/*" />
            </div>
            <div>
                <label class="label hike" for="notes">Hike Notes:</label>
                <textarea class="area" id="notes" name="notes" rows="4" cols="45">
                    <%=foundPeak.notes%>
                </textarea>
            </div>


            <input class="button" type="submit" value="Save Changes" href="/user"></label>
        
        </form>
    </div>
</div>