<div class="show-container"> 
    <img id="user-image" src="/Peak-Bagger.jpeg"></img>
<h1 class="welcome-title"><%= foundPeak.peak %></h1>
<h3 id="user-name">USER NAME</h3>
<a class="button" href="/user" type="button">Return to Profile</a>

    <div class="showData-container"> 
        <a class='button edit' href="/user/<%= foundPeak._id %>/edit">Edit Peak Information</a>  
        <table id="show-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th class="show-head">
                            <p>Bagged?</p>
                        </th>
                        <td class="show-data">
                            <p class="label"><%= foundPeak.bagged %></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="show-head">
                            <p>Start Time:</p>
                        </th> 
                        <td class="show-data">
                            <p class="label"><%= foundPeak.start %></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="show-head">
                            <p>Summited Time:</p>    
                        </th> 
                        <td class="show-data">
                            <p class="label"><%= foundPeak.summited %></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="show-head">                           
                            <p>End Time:</p>                         
                        </th> 
                        <td class="show-data">                           
                            <p class="label"><%= foundPeak.end %></p>                        
                        </td> 
                    </tr>
                    <tr>
                        <th class="show-head">                          
                            <p>Date:</p>                         
                        </th> 
                        <td class="show-data">                          
                            <p class="label"><%= foundPeak.date %></p>                        
                        </td> 
                    </tr>
                    <tr>
                        <th class="show-head">                          
                            <p>Number of Drinks:</p>                          
                        </th> 
                        <td class="show-data">                          
                            <p class="label"><%= foundPeak.drink %></p>                          
                        </td> 
                    </tr>
                    <tr>
                        <th class="show-head">                          
                            <p>Images:</p>                          
                        </th> 
                        <td class="show-data">   
                            <img src="<%= foundPeak.image %>">                                             
                        </td> 
                    </tr>

                    <tr>
                        <th class="show-head">                          
                            <p>Notes:</p>                       
                        </th>
                        <td class="show-data">                          
                            <p class="label"><%= foundPeak.notes %></p>                       
                        </td>
                    </tr>                                                                           
            </tbody>
        </table>
        
        <form  action="/user/<%= foundPeak._id %>?_method=DELETE" method="POST" >
        <input class = "button" type="submit" value="DELETE">
        </form>
    </div>
</div>