<div class="user-container">
    <img id="user-image" src="/Peak-Bagger.jpeg"></img>
    <h1 class="welcome-title">Peaker Baggins</h1>
    <h3 id="user-name">USER NAME</h3>
    <a class="button" id="bag-peak" href="/user/new" type="button">Bag Another Peak</a>


    <div class="bagged-container">
        <h2 id="bagged-header">BAGGED</h2>
            <table id="bagged-table">
                <thead>
                    <tr>
                        <th>PEAK</th>
                        <th>ELEVATION</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
        <% allPeaks.forEach(peak => { if(peak.bagged===true) {%>
                <table id="bagged-table">
                    <tbody>
                        <tr>
                            <td class="bagged-data">
                                <div>
                                    <a class="label" href="/user/<%=peak._id%>"><%= peak.peak %></a>
                                </div>
                            </td>
                        <% fourteener.map(peakInfo => { 
                            if(peak.peak === peakInfo.Peak) {%>
                            <td class="bagged-data">
                                <div>
                                 <p class="label"> <%= peakInfo.Elevation %><%;%></p>
                                </div>
                            </td>
                            <td class="bagged-data">
                                <div>
                                    <p class="label"> <%= peakInfo.Range %> <%}%></p>
                                </div>
                            </td>
                        <%})%>
                        </tr>
                    </tbody>
                </table>
            </table>
        <%}});%> 
    </div>

    <div class="attempted-container">
        <h2>ATTEMPTED</h2>
            <table id="attempted-table">
                <thead>
                    <tr>
                        <th>PEAK</th>
                        <th>ELEVATION</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
        <% allPeaks.forEach(peak => { if(peak.bagged===false) {%>
                <table id="attempted-table">
                    <tbody>
                        <tr>
                            <td>
                                <a class="label" href="/user/<%=peak._id%>"><%= peak.peak %></a>
                            </td>
                    
                        <% fourteener.map(peakInfo => { 
                            if(peak.peak === peakInfo.Peak) {%>
                            <td>
                                <div>
                                    <p class="label"> <%= peakInfo.Elevation %> <%;%></p>
                                </div>
                            </td>
                
                            <td>
                                <div>
                                    <p class="label"> <%= peakInfo.Range %> <%}%></p>
                                </div>
                            </td>
                        <%}) %>
                        </tr>
                    </tbody>
                </table>
                
            </table>

        <%}});%>
    </div>

    <div class="unattempted-container">
        <h2>UNATTEMPTED</h2>
            <table id="unattempted-table">
                <thead>
                    <tr>
                        <th>PEAK</th>
                        <th>ELEVATION</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
        <%function getDifference(fourteener, allPeaks) {
            return fourteener.filter(object1 => {
                return !allPeaks.some(object2 => {
                    return object1.Peak === object2.peak;
                    });
                });
            }

            const difference = [
                ...getDifference(fourteener, allPeaks),
                ...getDifference(allPeaks, fourteener)
            ];

            difference.map(unPeak => {%>
                <table id="unattempted-table">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <p class="label"><%= unPeak.Peak %></p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="label"><%= unPeak.Elevation %></p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="label"><%= unPeak.Range %></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
        <%})%>
    </div>
</div>





