<h1>USER PROFILE</h1>
<a class="button" href="/user/new" type="button">Create New Peak Entry</a>

<h2>BAGGED</h2>
<% allPeaks.forEach(peak => { if(peak.bagged===true) {%>
<div class="container">
<table class="table">
    <thead class="header_item">
        <tr>
            <th class="filter_link">PEAK</th>
            <th>ELEVATION</th>
            <th>RANGE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="table-data">
                    <a href="/user/<%=peak._id%>"><%= peak.peak %></a>
                </div>
            </td>
            <% fourteener.map(peakInfo => { 
                if(peak.peak === peakInfo.Peak) {%>
            <td>
                <div class="table-data">
                    <a> <%= peakInfo.Elevation %><%;%></a>
                </div>
            </td>

            <td>
                <div class="table-data">
                    <a> <%= peakInfo.Range %> <%}%></a>
                </div>
            </td>
            <%}) %>
        </tr>
    </tbody>
</table>
</div>
<%}});%> 

<h2>ATTEMPTED</h2>
<% allPeaks.forEach(peak => { if(peak.bagged===false) {%>
<div class="container">
<table class="table">
    <thead class="header_item">
        <tr>
            <th>PEAK</th>
            <th>ELEVATION</th>
            <th>RANGE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-data">
                <a href="/user/<%=peak._id%>"><%= peak.peak %></a>
            </td>
        
                <% fourteener.map(peakInfo => { 
                if(peak.peak === peakInfo.Peak) {%>
            <td>
                <div class="table-data">
                    <a> <%= peakInfo.Elevation %> <%;%></a>
                </div>
            </td>
    
            <td>
                <div class="table-data">
                    <a> <%= peakInfo.Range %> <%}%></a>
                </div>
            </td>
            <%}) %>

        </tr>
    </tbody>
</table>
</div>
<%}});%>

<h2>UNATTEMPTED</h2>

<%function getDifference(fourteener, allPeaks) {
  return fourteener.filter(object1 => {
    return !allPeaks.some(object2 => {
      return object1.Peak === object2.peak;
    });
  });
}

const difference = [
  ...getDifference(fourteener, allPeaks),
  ...getDifference(allPeaks, fourteener)
];

difference.map(unPeak => {%>

<div class="container">
<table class="table">
    <thead class="header_item">
        
        <tr>
            <th>PEAK</th>
            <th>ELEVATION</th>
            <th>RANGE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-data">
                <a href="/user/:id"><%= unPeak.Peak %></a>
            </td>
            <td class="table-data">
                <a><%= unPeak.Elevation %></a>
            </td>
            <td class="table-data">
                <a><%= unPeak.Range %></a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<%})%>



