<h1 class="welcome-title page-title">Peaker Baggins</h1>
<h2 class ="">USER PROFILE</h2>
<a class="button" href="/user/new" type="button">Bag Another Peak</a>

<div class="peak-container">
    <div class="bagged-container">
        <h3>BAGGED</h3>
            <table>
                <thead>
                    <tr>
                        <th>PEAK</th>
                        <th>ELEVATION</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
        <% allPeaks.forEach(peak => { if(peak.bagged===true) {%>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <a href="/user/<%=peak._id%>"><%= peak.peak %></a>
                                </div>
                            </td>
                        <% fourteener.map(peakInfo => { 
                            if(peak.peak === peakInfo.Peak) {%>
                            <td>
                                <div>
                                 <p> <%= peakInfo.Elevation %><%;%></p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p> <%= peakInfo.Range %> <%}%></p>
                                </div>
                            </td>
                        <%})%>
                        </tr>
                    </tbody>
                </table>
            </table>
        <%}});%> 
    </div>
    <div class="attempted-container">
        <h3>ATTEMPTED</h3>
            <table>
                <thead>
                    <tr>
                        <th>PEAK</th>
                        <th>ELEVATION</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
        <% allPeaks.forEach(peak => { if(peak.bagged===false) {%>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/user/<%=peak._id%>"><%= peak.peak %></a>
                            </td>
                    
                        <% fourteener.map(peakInfo => { 
                            if(peak.peak === peakInfo.Peak) {%>
                            <td>
                                <div>
                                    <p> <%= peakInfo.Elevation %> <%;%></p>
                                </div>
                            </td>
                
                            <td>
                                <div>
                                    <p> <%= peakInfo.Range %> <%}%></p>
                                </div>
                            </td>
                        <%}) %>
                        </tr>
                    </tbody>
                </table>
                
            </table>

        <%}});%>
    </div>

    <div class="unattempted-container">
        <h3>UNATTEMPTED</h3>
            <table>
                <thead>
                    <tr>
                        <th>PEAK</th>
                        <th>ELEVATION</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
        <%function getDifference(fourteener, allPeaks) {
            return fourteener.filter(object1 => {
                return !allPeaks.some(object2 => {
                    return object1.Peak === object2.peak;
                    });
                });
            }

            const difference = [
                ...getDifference(fourteener, allPeaks),
                ...getDifference(allPeaks, fourteener)
            ];

            difference.map(unPeak => {%>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <p><%= unPeak.Peak %></p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p><%= unPeak.Elevation %></p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p><%= unPeak.Range %></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
        <%})%>
    </div>
</div>




